body {
  margin: 0;
  padding: 0;
  background-color: #304d30;
}

.headercontainer {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#mynav {
  background-color: #163020;
  padding: 30px;
  display: flex;
  justify-content: flex-start; 
  align-items: center; 
}

#mynav a {
  text-decoration: none;
}

#mynav span {
  font-size: 1.5rem;
  color: #eef0e5;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  margin-right: 35px;
}

#mynav span#about {
  margin-right: -10px;
}

#mynav span:hover {
  cursor: pointer;
  color: black;
}

p {
  color: black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.greenwheelsinfo,
.greenwheelsinfo1 {
  display: flex;
  align-items: center;
  border-radius: 30px;
  background-color: #b6c4b6;
  padding: 20px;
  box-shadow: 0 0 10px #fff;
  margin: 20px 0;
}

.greenwheelsinfo p,
.greenwheelsinfo1 p {
  margin-left: 0px;
}

footer {
  font-size: 0.5cm;
  background-color: #163020;
  color: #333;
  text-align: center;
  padding: 20px;
  width: 100%;
  position: relative;
  bottom: 0;
}
