body{
    margin: 0;
    padding: 0;
    background-color: #304D30;
}

.headercontainer{
    display: flex;
    min-height: 100vh;
    
    flex-direction: column;
    
}
#mynav{
    background-color: #163020;
    padding: 50px 170px;
    
}
#mynav span{
    font-size: 1cm;
    color: #EEF0E5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#mynav span:hover{
    cursor: pointer;
    color: black;

}
p{
    color: black;
    float: right;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.greenwheelsinfo,
.greenwheelsinfo1 {
  order: 1; 
}
.greenwheelsinfo{
    display: flex;
    border-radius: 30px;
    /* padding:  300px 600px; */
    background-color: #B6C4B6;
    width: 100px;
    height: 50px;
    padding: 20px 40px;
    align-items: center;
    box-shadow: #fff;
    justify-content: center;
    margin: 0 auto;
    gap: 20px;
    
}
.greenwheelsinfo1{
    display: flex;
    border-radius: 30px;
    background-color: #B6C4B6;
    padding:  300px 600px;
    box-shadow: #fff;
    width: 100px;
    height: 50px;
    justify-content: center;
    margin: 0 auto;
    gap: 20px;
    
}
footer {
    font-size: 0.5cm;
    background-color: #163020; 
    color: #333; 
    text-align: center;
    padding: 60px 0px;
    width: 100%;
    position: relative;
    bottom: 0;
}
