<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login-page</title>
</head>
<body>
    <div class="wrapper">
        <div class="form-box login">
            <h1>Login</h1>
            <form action="#">
                <div class="input-details">
                    <span class="icon"></span>
                        <input type="email" required id="myemail">
                        <label>Email</label>
                </div>
                <div class="input-details">
                    <span class="icon"></span>
                        <input type="password" required id="mypass">
                        <label>Password</label>
                </div>
                <div class="remember-forget">
                    <label>
                        <input type="checkbox" id="mycheck">
                        Remember me
                    </label>
                    <a href="#">Forget Password?</a>
                </div>
                <button type="submit" class="btn" id="mylogin">Login</button>
                <div class="Register">
                    <p>
                        Don't have an account?
                        <a href="#" class="register-linl">Register</a></p>
                </div>
            </form>

        </div>
    </div>
    <script>
    </script>


</body>
</html>
