body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #304d30;
  }
  
  .headercontainer {
    display: flex;
    min-height: 10vh;
    flex-direction: column;
    
  }
  ::-webkit-scrollbar{
    display: none;
  }
  
  #mynav {
    background-color: #163020;
    padding: 30px 120px;
    display: flex;
    justify-content: flex-start; 
    align-items: center; 
    width: 84.10%;
  }
  
  #mynav a {
    text-decoration: none;
    margin-right: 40px;
    justify-content: space-between;
  }
  
  #mynav span {
    font-size: 1.40em;
    color: #eef0e5;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    margin-right: 35px;
    
  }
 #mynav span:first-child{
  margin-left: -10px;
 }
 #mynav span:last-child{
    margin-right: 55px;
    float: right;
 }
  
  #mynav span:hover {
    cursor: pointer;
    color: black;
    transition: ease 0.7s;
  }
  
  p {
    color: black;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .greenwheelsinfo{
    display: flex;
    text-align: end;
    border-radius: 150px;
    background-color: #8eb08e;
    padding: 20px 100px;
    margin: 20px 0;
    min-height: 50vh;
    gap: 20px;
    flex-direction: column;
  }
  .greenwheelsinfo,.greenwheelsinfo1{
    background-color: #839a83;
    background-color: #839a83;
    background: linear-gradient(to right, rgb(37, 131, 42) 50% , #839a83 50%);
    background-size: 200% 100%;
    background-position: bottom right;
    transition: all .5s ease-out;
  }
  .greenwheelsinfo:hover, .greenwheelsinfo1:hover{
    background-color: black;
    color: #333;
    box-shadow: 0 0 0.5em 0.1em #fff;
    background-position: bottom left;
  }
  .greenwheelsinfo1 {
    display: flex;
    flex-direction: column;
    text-align: end;
    border-radius: 150px;
    background-color: #839a83;
    padding: 20px 150px;
    margin: -10px 0;
    min-height: 50vh;
    gap: 20px;
  }
  h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
  }
  .greenwheelsinfo1 h1{
    align-items: baseline;
  }
  
  .greenwheelsinfo p,
  .greenwheelsinfo1 p {
    margin-left: 0px;
    font-weight: bold;
  }
  footer {
    display: flex;
    font-size: 0.65cm;
    background-color: #163020;
    text-align: center;
    padding: 10px;
    width: 98.5%;
    flex-direction: row;
    bottom: 0;
  }
  footer b{
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    
  }

a:active{
  color: black;
}

img{
  max-width: 128px;
  max-height: 128px;
  margin-bottom: -200px;
  margin-left: 10px;
}
.details{
  display: flex;
  margin-left: 45em;
  padding: 10px 30px;
  gap: 3em;
  background: linear-gradient(to right, black 50% , #163020 50%);
  background-size: 200% 100%;
  background-position: bottom right;
  transition: all .5s ease-out;
}
.details a{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 100;
  font-size: 0.45cm;
  text-decoration: none;
  cursor: pointer;
  color: white;
  transition: all .6s ease-out;
}
.details:hover{
  background-color: black;
  color: #fff;
  box-shadow: 0 0 0.5em 0.1em black;
  background-position: bottom left;
  border-radius: 20px;
}
  
 
  