body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #304d30;
  }
  
  .headercontainer {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    
  }
  
  #mynav {
    background-color: #163020;
    padding: 30px 150px;
    display: flex;
    justify-content: flex-start; 
    align-items: center; 
    width: 81%;
    
  }
  
  #mynav a {
    text-decoration: none;
    margin-right: 40px;
    justify-content: space-between;
  }
  
  #mynav span {
    font-size: 1cm;
    color: #eef0e5;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    
    margin-right: 35px;
    
  }
  
 #mynav span:first-child{
  margin-left: -10px;
 }
 #mynav span:last-child{
    margin-right: 46px;
 }
  
  #mynav span:hover {
    cursor: pointer;
    color: black;
  }
  
  p {
    color: black;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .greenwheelsinfo,
  .greenwheelsinfo1 {
    display: flex;
    align-items: center;
    border-radius: 30px;
    background-color: #b6c4b6;
    padding: 20px;
    box-shadow: 0 0 10px #fff;
    margin: 20px 0;
  }
  
  .greenwheelsinfo p,
  .greenwheelsinfo1 p {
    margin-left: 0px;
  }
  
  footer {
    font-size: 0.65cm;
    background-color: #163020;
    color: #333;
    text-align: center;
    padding: 20px;
    width: 98%;
    
    bottom: 0;
  }
  