<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">

    <title>GreenWheels</title>
</head>
<body>

    <div class="container">
        <header>
            <h1 style="padding: 14px 16px;">GreenWheels</h1>
            <hr style="background-color: rgb(216, 206, 206);">
        </header>
             
            
        <header>
            <nav class="navbar">
                <a href="#" class="nav-branding">GreenWheels</a>
                <ul class="nav-menu">
                    <li class="nav-item">
                        <a href="" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="#">CO2 Emissions</a>
                    </li>
                    <li class="nav-item">
                        <a href="#">About</a>
                    </li>
                </ul>
                <div class="hambuger">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>
            </nav>
        </header>

                

        

        <section>
            <div class="paragraph-container">
                <p>Welcome to GreenWheels - Your guide to eco-friendly transportation.</p>
                <p>Explore our curated selection of green vehicles for a sustainable and cleaner future.</p>
            </div>
        </section>

        <footer>
            <p>&copy; 2024 GreenWheels. All rights reserved.</p>
        </footer>
    </div>
    <script>
        const hamburger = document.querySelector(".hamberger")
        const navmenu = document.querySelector(".nav-menu")
        hamburger.addEventListener("click",() =>{
            hamburger.classList.toggle("active");
            hamburger.classList.toggle("active");
        })

        document.querySelector(".nav-link").forEach(n => n.
        addEventListener("click",() =>{
            hamburger.classList.remove("active");
            hamburger.classList.remove("active");
        }))
        
    </script>
        
</body>
</html>
 

        


