<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GreenWheels</title>
    <link rel="stylesheet" href="app.component.css">

</head>
<body>
    <div class="headercontainer">
        <div id="mynav">
            <a href="index.html" style="text-decoration: none;"><span  >GreenWheels</span></a>
            <a href="vehicle.html" style="text-decoration: none;"><span >Vehicle Recommender</span></a>
            <a href="CO2map.html" style="text-decoration: none;"><span >Emission Map</span></a>
            <a href="about.html" style="text-decoration: none;"><span  >About</span></a>

        </div>
    </div>
    <div class="greenwheelsinfo">
        <h1 style="align-items: baseline; text-align:center; font-size:1cm">GreenWheels</h1>
        <p style="float: right;">
            GreenWheels provide a complete up-to-date data for each individual to select less carbon emission vehicles
            upon our research data and practically tested data we can recommend one individual to choose a healthy eco-friendly vehicle that
            is not harmful to the environment. This Product is made to reduce the overall Carbon Emission led by the current vehicle our product gives a proper solution to it !! 
            Which is very benficial to our Environment. 
        </p>
    </div>
    <div class="greenwheelsinfo1">
        <h1 style="align-items: baseline; text-align:end;">What is Carbon Emission?</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium esse commodi earum. Molestiae aliquid quidem in? Suscipit ducimus facilis, accusantium animi dicta ipsa nisi? Blanditiis sequi voluptates vel voluptate nulla?</p>
    </div>
    <div></div>

    <footer>
            <b>&copy; 2024-2025 GreenWheels. All rights reserved.</b>
    </footer>
    


    <script src="index_main.js"></script>
    
</body>
</html>
