<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vehicle Recommender</title>
    <link rel="stylesheet" href="vehicle-recommender.component.css">
</head>
<body>
    <div class="prompt">
        <h1 id="myhead">GreenWheels Personal Assistant</h1>
        <div class="chatting">
            <div id="chat-container">
                <input type="text" id="userinput" placeholder="Enter Your Vehicle choice........." >
                <button id="sendprompt">Send</button>
            </div>
        </div>
    </div>
    
</body>
</html>