.prompt{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 70%;
    margin:  0 auto;
    background-color: rgb(138, 156, 144); 
    padding: 20px 10px;
    border-radius: 55px;
    box-shadow: black;
    
}
.chatting{
    display: flex;
    min-height: 85vh;
    margin: 0 auto;
    max-width: 60%;
    background-color: rgb(208, 239, 229);
    padding: 60px 215px;
    border-radius: 45px;

}
#myhead{
    margin: 0 auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    font-weight: bold;
    font-size: 1cm;
}
#chat-container{
    margin-top: 550px;
    display: block;
    flex-direction: column;
    gap: auto;
    max-width: 180%;
    
}
#userinput{
    border-radius: 100px;
    background-color: #304d30;
    padding: 15px 90px;  
    color: white;  
    box-shadow: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 0.5cm;
    
}
#userinput::placeholder{
    color: #fff;
}
#sendprompt{
    border-radius: 40px;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px 25px;
    background-color: #304d30;
    font-weight: bold;
    color: #fff;
    font-size: 0.45cm;
    
    
}