<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GreenWheels</title>
    <link rel="stylesheet" href="vehicle-recommender.component.css">

</head>
<body>
    <div class="headercontainer">
        <div id="mynav">
            <a href="index.html" style="text-decoration: none;"><span  >GreenWheels</span></a>
            <a href="vehicle.html" style="text-decoration: none;"><span >Vehicle Recommender</span></a>
            <a href="CO2map.html" style="text-decoration: none;"><span >Emission Map</span></a>
            <a href="about.html" style="text-decoration: none;"><span  >About</span></a>

        </div>
    </div>
    <div class="dropdown1">
        <button class="dropbtn">Select Country</button>
        <div class="dropcontent">
            <b href="#">Country1</b>
            <b href="#">Country2</b>
            <b href="#">Country3</b>
            <b href="#">Country4</b>
            <b href="#">Country5</b>

        </div>
    </div>

    <footer>
            <b>&copy; 2024-2025 GreenWheels. All rights reserved.</b>
    </footer>
    


    <script src="index_main.js"></script>
    
</body>
</html>

